#dark {
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(37, 37, 37, 0.5);
    z-index: 10;
    display: none;
}

#cancel {
    width: 50px;
    height: auto;
    float: right;
    cursor: pointer;
}

#popup {
    background-color: white;

    margin: 0;
    position: absolute;
    width: 70%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1em;
    padding: 1em;
}

#popup textarea {
    width: 60%;
    float: left;
}

#popup button {
    width: 30%;
    height: 2em;
    float: right;
}