#dark {
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(37, 37, 37, 0.5);
    z-index: 10;
    display: none;
}

#cancel {
    width: 50px;
    height: auto;
    float: right;
    cursor: pointer;
}

#popup {
    background-color: white;

    margin: 0;
    position: absolute;
    width: 70%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1em;
    padding: 1em;

    max-height: 90%;
    overflow: scroll;
}

#comment_container {
    height: 3.5em;
    width: 70%;
}

#comment_container textarea {
    width: 60%;
    height: 65%;
    float: left;
    resize: none;
    border-radius: 1em;
    font-size: 1.25em;
    padding: 0.5em;
}

#comment_container button {
    width: 30%;
    height: 100%;
    float: right;
}

#comment_container button:hover {
    background-color: lightgray;
}

#popup_story {
    width: 60%;
    font-size: 1.15em;
    margin: auto;
}

#popup_comments {
    width: 70%;
}